
header{
    background-color: gray;
    border-radius: 10px 10px;
    display: flex;
}

ul li{
    display: inline;
}

@media(min-width: 800px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
}

img{
    width: 80px;
    height: 80px;
    display: block;
}

#Posts{
    align-self: center;
    background-color: blueviolet;
}

img{
    width: 20px;
    height: 20px;
}

.contentpicture{
    width: 100px;
    height: 100px;
}